[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MetaDose"]
	path = MetaDose
	url = https://github.com/asmpro7/metadose
[submodule "metagroup"]
	path = metagroup
	url = https://github.com/asmpro7/metagroup
